.intro__login {
    /*padding-top: 200px;*/

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background:
        url("../images/intro3.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


h2 {
    text-align: center;
    color: #333;
    padding: 20px;
}

label {
    color: #333;
    font-size: 30px;
}

#Uname {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#Pass {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}

#log {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding-left: 7px;
    color: #333;


}

.fasf{
    color: #333;
    text-decoration: none;
    transition: color .1s linear;
}

.fasf:hover{
    color: #974021;
}
span {
    color: #333;
    font-size: 17px;
}

/* Buttons */
.login_btn {
    display: inline-block;
    vertical-align: top;
    padding: 6px 120px;

    border: 3px solid #333;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 3px;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;

    transition: background .1s linear,
        color .1s linear, border .1s linear;
}

.login_btn:hover {
    background-color: #fff;
    color: #333;
    border: 3px solid #fff;
}