body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;

}

*,
*:before,
*:after {
    box-sizing: border-box;

}

/*сброс margin*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* Intro */
.intro {
    padding-top: 100px;

    /* display: flex;
    flex-direction: column;
    justify-content: center; */

    width: 100%;
    height: 100vh;

    background:
        url("../images/intro.jpg") center no-repeat;
    height: 35vh;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    text-align: center;
}


.title__intro {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.title__supintro {
    /*padding-top: 20px;*/
    font-family: 'El Messiri', sans-serif;
    font-size: 35px;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}


/* Header */
.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-decoration: none;

}

/* Navigation */
.nav {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #974021;
    opacity: 0;

    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .2s linear;
}

.nav__link:hover {
    color: #974021;
}

.nav__link:hover:after {
    opacity: 1;
}

/* Buttons */
.btn {
    margin-top: 15px;
    display: inline-block;
    vertical-align: top;
    padding: 6px 25px;

    border: 3px solid #333;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #333;
    text-decoration: none;
    border-radius: 3px;
    text-transform: uppercase;

    transition: background .1s linear,
        color .1s linear, border .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
    border: 3px solid #fff;
}

.login_btn {
    display: inline-block;
    vertical-align: top;
    padding: 6px 120px;

    border: 3px solid #333;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 3px;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;

    transition: background .1s linear,
        color .1s linear, border .1s linear;
}

.login_btn:hover {
    background-color: #fff;
    color: #333;
    border: 3px solid #fff;
}

/* Section */

.section{
    padding: 50px 0;
}

.section__header{
    width: 100%;
    max-width: 900px;
    margin: 0 auto 30px;
    text-align: center;
}

.section__title{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.section__title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 10px auto;
    background-color: #974021;
}

.section__text{
    color: #333;
}

/* Sofa */

.sofa{
    display: flex;
    justify-content: space-between;
    
}

.about__sofa{
    width: 384px;
    text-align: center;
}

/* .about__sofa:hover .sofa__image img{
    opacity: .8;
}

.sofa__image{
    background: #333;
}

.sofa__image img{
    display: block;
    transition: opacity .1s linear;
} */

.sofa__text{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    text-transform: uppercase;
}

.sofa__suptext{
    font-size: 16px;
    color: #333;
}

/* next_section */

.section_sofasize{
    margin-bottom: 50px;
    
}

.section__title_size{
    font-size: 20px;
    text-transform: uppercase;
}

.line{
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc; /* Параметры линии */

}

.section__title_size:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 10px auto;
    background-color: #974021;
}


/* Login.html*/

.intro__inner_login {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.login{
    max-width: 300px;
    margin: 0 auto;
}
.intro__login {
    padding-top: 200px;

    /* display: flex;
    flex-direction: column;
    justify-content: center; */

    width: 100%;
    height: 100vh;

    background:
        url("../images/intro4.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


h2 {
    text-align: center;
    color: #333;
    padding: 20px;
}

label {
    color: #333;
    font-size: 30px;
}

#Uname {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#Pass {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}

#log {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding-left: 7px;
    color: #333;


}

.fasf{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.remember__me {

    color: #fff;
    font-size: 16px;
}


